<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  </head>
  <body>
      <nav>
        <ul>
            <li><a href="/" class="navegador">Página Principal</a></li>
            <li><a href="/quizes/question" class="navegador">Preguntas</a></li>
        </ul>
        </nav>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrás crear tus propios juegos</p>
       <footer>
          <a href="https://github.com/carlosv5/Quiz">Quiz en Git</a>
        </footer>
  </body>
</html>
