<label for="preg" class="rem">Pregunta: </label>
<p><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/></p>
<label for="resp" class="rem">Respuesta: </label>
<p><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/></p>
<label for="image" class="rem">Imagen: </label>
<input type="file" accept="image/*" id="image" name="image"/><p>
<a href="/quizes"> Cancelar</a>
<input type="submit" value="Salvar">