
<form method="get" action="/quizes/<%= quiz.id %>/answer">        
 <h2>Pregunta:<%= quiz.pregunta %></h2>
 <input type="text" name="respuesta" value="Respuesta"/>
 <input type="submit" value="Enviar">
 </form>